
<div class="container-fluid">
  <br/>
  <div class="card">
    <div class="card-body text-center">
      <h2> Joe's Current Projects</h2>
  </div>
  
  </div>
<div class="table-responsive text-center">
<table class="table ">
  <thead>
  <tr>
   <th scope="col">Backlog</th><th scope="col">Upcoming</th><th scope="col">In-Progress</th><th scope="col">Completed</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td>
      <table class="table">
        <tr *ngFor="let u of projects">
          <td *ngIf="u.status == 'Backlog'" >
  
            <ul class="list-group" *ngFor="let p of u.projects">
              <li class="list-group-item list-group-item-dark"> {{p.name}} - {{p.progress}} <br *ngIf="p.date_completed != ''"/><span *ngIf="p.date_completed != ''">{{p.date_completed}}</span></li>
            </ul>
       
          </td>
        </tr>
      </table>
    </td>
    <td>
        <table class="table">
          <tr *ngFor="let u of projects">
            <td *ngIf="u.status == 'Upcoming'" >
    
              <ul class="list-group" *ngFor="let p of u.projects">
                <li class="list-group-item list-group-item-warning"> {{p.name}} - {{p.progress}} <br *ngIf="p.date_completed != ''"/><span *ngIf="p.date_completed != ''">{{p.date_completed}}</span></li>
        
              </ul>
         
            </td>
          </tr>
        </table>
    </td>
  
    <td>
      <table class="table">
        <tr *ngFor="let u of projects">
          <td *ngIf="u.status == 'In-Progress'" >
  
            <ul class="list-group" *ngFor="let p of u.projects">
              <li class="list-group-item list-group-item-primary"> {{p.name}} - {{p.progress}} <br *ngIf="p.date_completed != ''"/><span *ngIf="p.date_completed != ''">{{p.date_completed}}</span></li>
            </ul>
       
          </td>
        </tr>
      </table>
    </td>

   
  
    <td>
      <table class="table">
        <tr *ngFor="let u of projects">
          <td *ngIf="u.status == 'Completed'" >
  
            <ul class="list-group" *ngFor="let p of u.projects">
              <li class="list-group-item list-group-item-success"> {{p.name}} - {{p.progress}} <br *ngIf="p.date_completed != ''"/><span *ngIf="p.date_completed != ''">{{p.date_completed}}</span></li>
            </ul>
       
          </td>
        </tr>
      </table>

    </td>
  </tr>
  </tbody>
</table>
</div>



</div>
<router-outlet></router-outlet>
